* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --bgNav: #255EE9;
    --bgBody: #FFFFFF;
    --bgSection: #F5F5F5;
    --bgNavButton: #FFFFFF;
    --bgDarkNavButton: #23272A;
    --bgFooter: #23272A;
    --navText: #FFFFFF;
    --navDarkText: #000000;
    --mainTitle: #000000;
    --mainText: #000000;
    --bgMainButton: #7289DA;
    --mainTextButton: #FFFFFF;
    --footerTitle: #7289DA;
    --bgFooterButton: #7289DA;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    display: none;
}

.dFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.dFlexReverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
}

.dFlexCenter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.dFlexFooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
}

.container {
    margin: 0 18%;
    max-width: 1200px;
}

.containerSmall {
    margin: 0 28%;
    padding-bottom: 1.5rem;
    text-align: center;
    line-height: 1.8;
}

nav {
    background-color: var(--bgNav);
    padding: 1rem 1rem;
    color: var(--navText);
    font-size: 1rem;
}

.navItems {
    padding: 0 1rem;
}

.navItems a {
    color: var(--navText);
    text-decoration: none;
}

.bgNavButton {
    color: var(--navDarkText);
    font-weight: 600;
    background-color: var(--bgNavButton);
    border-radius: 30px;
    padding: 0.2rem 0.4rem;
}

.bgHeaderButton {
    color: var(--navDarkText);
    font-weight: 600;
    background-color: var(--bgNavButton);
    border-radius: 30px;
    padding: 0.5rem 0.7rem;
}

.bgHeaderDarkButton {
    color: var(--navText);
    font-weight: 600;
    background-color: var(--bgDarkNavButton);
    border-radius: 30px;
    padding: 0.5rem 0.7rem;
}

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 42rem;
    color: var(--navText);
}

h2 {
    margin: 13rem 0 2rem;
    font-size: 3rem;
}

.dFlexCenter a {
    margin: 0 1rem;
}

a {
    text-decoration: none;
}

.illustrationText {
    width: 35%;
}

.illustrationMargin {
    padding-top: 5rem;
    padding-bottom: 15rem;
}

h3 {
    font-size: 2.7rem;
    padding-top: 4rem;
}

.illustrationText p {
    padding-top: 1.5rem;
    line-height: 1.8;
    font-size: 1.1rem;
    font-weight: 300;
}

.lastSection {
    text-align: center;
    width: 100%;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.bgSectionButton {
    color: var(--mainTextButton);
    font-weight: 300;
    background-color: var(--bgMainButton);
    border-radius: 30px;
    padding: 0.5rem 0.7rem;
}

footer {
    background-color: var(--bgFooter);
    padding-top: 3rem;
}

h5, h6 {
    color: var(--footerTitle);
}

h5 {
    font-size: 1.7rem;
}

h6 {
    font-size: 0.8rem;
}

.borderFooter img {
    width: 1.6rem;
}

.dFlexFooter li {
    padding: 0.3rem 0;
    color: var(--mainTextButton);
    font-size: 0.8rem;
}

.borderFooter {
    border-bottom: 1px solid var(--footerTitle);
    padding-bottom: 2rem;
}

.leftBox {
    width: 20%;
}

.leftBox div {
    margin-top: 1rem;
    color: var(--navText);
}

.bgFooterButton {
    color: var(--mainTextButton);
    font-weight: 300;
    font-size: 0.8rem;
    background-color: var(--bgMainButton);
    border-radius: 30px;
    padding: 0.5rem 0.7rem;
}

.displayNear p {
    display: inline-block;
    text-align: center;
}

.social {
    padding-right: 0.8rem;
}

.waveReverse {
    transform: rotate(180deg);
}

.bgGray {
    background-color: var(--bgSection);
}

.wave {
    transform: rotate(360deg);
}

.whiteHover:hover {
    color: var(--bgNav);
    box-shadow: 0 0.3rem 20px black;
}

.darkHover:hover {
    background-color: rgb(66, 77, 88);
    box-shadow: 0 0.3rem 20px black;
}

.purpleHover:hover {
    background-color:  #8fa5f7;
    box-shadow: 0 0.3rem 20px black;   
}